*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-content: center;
    font-family: "Roboto", sans-serif;
}
/* .img-cover{
    object-fit:scale-down;
    overflow: hidden;
    display: flex;
    flex-grow: 1;
    margin: auto;
    justify-content: center;
} */